/* animations added to the page */
@keyframes changeb{
    0%{
      BOX-SHADOW: 0 0 5PX 4PX mediumseagreen;    /* top:50px; */
        }
        33%{
          BOX-SHADOW: 0 0 5PX 4PX red;
        }
        66%{
          BOX-SHADOW: 0 0 5PX 4PX rgb(236, 35, 193);
        }
        100%{
          BOX-SHADOW: 0 0 5PX 4PX DODGERBLUE;
        
        
      }
    }
    @keyframes changec{
        0%{
          background-color:  mediumseagreen;    /* top:50px; */
            }
            33%{
                background-color: red;
            }
            66%{
                background-color:  rgb(236, 35, 193);
            }
            100%{
                background-color:  DODGERBLUE;
            
            
          }
        }    
@keyframes change{
        0%{
          text-SHADOW:  0 5PX 4PX mediumseagreen;    /* top:50px; */
            }
            33%{
              text-SHADOW:  0 5PX 4PX red;
            }
            66%{
              text-SHADOW:  0 5PX 4PX rgb(236, 35, 193);
            }
            100%{
              text-shadow:  0 5PX 4PX DODGERBLUE;
            
            
          }
        }


/* put padding */


body{
    padding:10vh;
}

#error{
    color: red;
    visibility: hidden;
    
}
/* search button css */
.favbtn,.removeButton{
    /* margin-left: 5vh; */
    height: 5vh;
    margin-top: auto;
    margin-bottom: auto;
    background-color: ;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    animation: changec 2s ease-in-out infinite alternate ;
    color: white;
    font-weight: bold;



}
/*result search items css */
.listitem{

 display: flex;
 flex-direction: row;
 justify-content: space-between;
 margin-top: 15px;
 height: 20vh;
 border-radius: 100px;
 /* border:solid; */
 animation: changeb 2s ease-in-out infinite alternate ;


}
.listitem a{
    /* width: 100%; */
    flex-grow: 1;
    text-align: center;
}
.listitem span{
    width:100%; 
    font-weight: bold;
    text-shadow: 0 5px 4px  aquamarine ;
}
.images{
  height: 20vh;
  width: 20vh;
  border-radius: 50%;

}

.favbtn:focus,.removeButton:focus{
    outline: none;
    border: none;
}

.favbtn:hover,.removeButton:hover{

 filter: grayscale();
}

/*  */

ul{
    padding-inline-start: 0px;
}

/* info */
#infoimage{
     
    height:30vh ;
    width: 30vh ;
    
    border:solid;

}
#infoimage img{
    width: 100%;
    height: 100%;
}

#notification{
    visibility: hidden;
    

}
#notification.show{
    visibility:visible;
    background-color: black;
    color: white;
    padding: 10px;
    font-weight: bold;
    /* transition: 1s linear  all; */
    /* filter: opacity(0.7); */
    animation: fadein 0.5s, fadeout 0.5s 1.5s;

}
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
#notify{

    position: fixed;
    z-index: 1;
    top: 5vh;
    right: 0vh;
}


.suggestions{
    border: solid;
    border-width: 0.5px;
    cursor: pointer;

}
.suggestions:hover{
    background-color: gray;
}